*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    /* overflow: hidden; */
    font-family: 'Palanquin Dark', sans-serif;
}


#main{
    display: grid;
    grid-template-areas:
    "navbarContainer"
    "contentContainer"
    "footerContainer"
    ;
    grid-template-rows: 8rem 1fr 8rem;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

#background{
    height: 100vh;
    width: 100%;
    /* background-image: url("image/background/background0.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    filter: grayscale(100%) brightness(30%) contrast(110%);
}

.backgroundImage{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit : cover;
}

#colorBackgroundOverlay{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba( 59, 59, 59, 0.05)20%, rgba(7, 96, 254, 0.07)80%) ;
    position: absolute;
    z-index: -1;
}

#smokeOverlay{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 25vh 25vh 25vh 25vh;
    justify-content: center;
    /* grid-gap: 0.3rem; */
}

.smoke{
    position: relative;
    width: 300%;
    height: 300%;
}

.smokeImgContainer{
    width: 100%;
    height: 100%;
    /* background-color: dimgray; */
    display:flex;
    justify-content: center;
    align-items: center;
}













/* ***************************************************************************************************** NAVBAR ************************************************************************** */



#navbarContainer{
    grid-area: navbarContainer;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    color: white;
    font-size: 2rem;
    /* background-color: darkred; */
}

#allProjects{
    text-decoration: none;
    color: white;
}
#allProjects:hover{
    cursor: pointer;
}





/* ***************************************************************************************************** CONTENT ************************************************************************** */

#contentContainer{
    grid-area: contentContainer;
    display: grid;
    grid-template-columns: 0fr 0.9fr auto;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:
    "upDownBtn info ."
    "upDownBtn info index"
    ;
    /* background-color: grey; */
    padding: 3rem;

}








#btnContainer{
    grid-area: upDownBtn;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: blue; */

}



#btnContainer i{
    margin: 0.5rem 0;
    font-size: 2rem;
    color: white;
    padding: 0;
}

#btnContainer i:hover{
    color: #0760fe;
    cursor: pointer;
}



#informationContainer{
    grid-area: info;
    width:100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
        /* background-color: gold; */
}

.hiddenInfo{
    display: none;
}

.showInfo{
    display: block;
    animation: showInfo 1s ease-out forwards;
}

@keyframes showInfo{
    from{opacity: 0; transform: translateX(-20%);}
    to{opacity: 1; transform: translateX(0);}
}

#listOfContent{
    list-style: none;
    text-decoration: none;
}

.contentDescription{
    font-size: 1.2rem;
}

.contentTitle{
    font-size: 4.5rem;
}

.moreInfo, .tryLink{
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    color: #0760fe;
}

.moreInfo:hover, .tryLink:hover{
    color: white !important;
}

.moreInfo:after, .tryLink:after{
    display: block;
    content: "";
    border-bottom: solid 0.5rem #0760fe;
    padding-bottom: -0.5rem;
    animation: shrinkBorder 0.5s ease-out forwards;
}


.moreInfo:hover:after, .tryLink:hover:after{
    animation: growBorder 0.5s ease-out forwards;
}

@keyframes shrinkBorder{
    from{width: 100%}
    to{width:0%}
}

@keyframes growBorder{
    from{width: 0%}
    to{width:100%}
}

a{
    text-decoration: none;
    color: white;
}














#indexContainer{
    grid-area: index;
    width:100%;
    height: 100%;
    /* background-color: indigo; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



#lineList{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    justify-content: flex-end;
    /* background-color: aqua; */
}



 #lineList li{
    cursor: pointer;
    width: 100%;
    height: 1rem;
    /* background-color: grey; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line{
    height: 0.2rem;
    width: 30%;
    background-color: white;
    display: block;
}



/* li:hover .line{
background-color: #0760fe;
animation: indexHovered .3s ease-in-out forwards;
} */

.hoveredLine{
    background-color: #0760fe !important;
    animation: indexHovered .3s ease-in-out forwards;
}

.lineState{
    font-size: 0.8rem;
    color: #0760fe;
    margin: 0 0.5rem;
}

@keyframes indexHovered{
    from{
        width: 30%;
    }
    to{
        width: 40%;
    }
}




/* ***************************************************************************************************** FOOTER ************************************************************************** */


#footerContainer{
    grid-area: footerContainer;
    /* background-color: black; */
        /* background-color: grey; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem;
        color: white;
        font-size: 2rem;
        /* background-color: darkred; */
}

#footerContainer i{
    margin : 0 1.2rem;
}

#footerContainer i:hover{
    cursor: pointer;
    color: #0760fe;
}
















.fadeOutSmoke:nth-child(1){
    position: relative;
    animation: fadeOut1 1.2s  linear forwards;
}
.fadeOutSmoke:nth-child(2){
    position: relative;
    animation: fadeOut2 1.2s  linear forwards;
}
.fadeOutSmoke:nth-child(3){
    position: relative;
    animation: fadeOut3 1.2s  linear forwards;
}
.fadeOutSmoke:nth-child(4){
    position: relative;
    animation: fadeOut4 1.2s  linear forwards;
}
.fadeOutSmoke:nth-child(5){
    position: relative;
    animation: fadeOut5 1.2s  linear forwards;
}
.fadeOutSmoke:nth-child(6){
    position: relative;
    animation: fadeOut6 1.2s  linear forwards;
}


.fadeOutSmoke:nth-child(7){
    position: relative;
    animation: fadeOut7 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(8){
    position: relative;
    animation: fadeOut8 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(9){
    position: relative;
    animation: fadeOut9 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(10){
    position: relative;
    animation: fadeOut10 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(11){
    position: relative;
    animation: fadeOut11 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(12){
    position: relative;
    animation: fadeOut12 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(13){
    position: relative;
    animation: fadeOut13 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(14){
    position: relative;
    animation: fadeOut14 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(15){
    position: relative;
    animation: fadeOut15 1.2s  linear forwards;
}

.fadeOutSmoke:nth-child(16){
    position: relative;
    animation: fadeOut16 1.2s  linear forwards;
}



@keyframes fadeOut1{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut2{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
    transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut3{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut4{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut5{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut6{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut7{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut8{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fadeOut9{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut10{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut11{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut12{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut13{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut14{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut15{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
}

@keyframes fadeOut16{
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
}










/********************************************************************************************************* fadeIn ************************************************************/
/********************************************************************************************************* fadeIn ************************************************************/
/********************************************************************************************************* fadeIn ************************************************************/
/********************************************************************************************************* fadeIn ************************************************************/

.fadeInSmoke{
    width: 100%;
    height: 100%;
    /* background-color: dimgray; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.fadeInSmoke:nth-child(1){
    position: relative;
    animation: fadeIn1 1.2s  linear  forwards;
}
.fadeInSmoke:nth-child(2){
    position: relative;
    animation: fadeIn2 1.2s  linear forwards;
}
.fadeInSmoke:nth-child(3){
    position: relative;
    animation: fadeIn3 1.2s  linear forwards;
}
.fadeInSmoke:nth-child(4){
    position: relative;
    animation: fadeIn4 1.2s  linear forwards;
}
.fadeInSmoke:nth-child(5){
    position: relative;
    animation: fadeIn5 1.2s  linear forwards;
}
.fadeInSmoke:nth-child(6){
    position: relative;
    animation: fadeIn6 1.2s  linear forwards;
}


.fadeInSmoke:nth-child(7){
    position: relative;
    animation: fadeIn7 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(8){
    position: relative;
    animation: fadeIn8 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(9){
    position: relative;
    animation: fadeIn9 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(10){
    position: relative;
    animation: fadeIn10 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(11){
    position: relative;
    animation: fadeIn11 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(12){
    position: relative;
    animation: fadeIn12 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(13){
    position: relative;
    animation: fadeIn13 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(14){
    position: relative;
    animation: fadeIn14 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(15){
    position: relative;
    animation: fadeIn15 1.2s  linear forwards;
}

.fadeInSmoke:nth-child(16){
    position: relative;
    animation: fadeIn16 1.2s  linear forwards;
}



@keyframes fadeIn1{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn2{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn3{
    from{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn4{
    from{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn5{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn6{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn7{
    from{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn8{
    from{
        transform: scale(2.8) translateX(50vw) translateY(-50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn9{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn10{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn11{
    from{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn12{
    from{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn13{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn14{
    from{
        transform: scale(2.8) translateX(-50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn15{
    from{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn16{
    from{
        transform: scale(2.8) translateX(50vw) translateY(50vh);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}



/*************************************************************************** hamburger animation and look ***********************************************/


#arrowLeftHamburgerContainer{ 
    width : 4rem; 
    height: 4rem; 
    background-color : transparent; 
    position : relative; 
    display: flex; 
    justify-content : space-evenly; 
    align-items : center; 
    flex-direction : column; 
    }
    
    #arrowLeftLabel{ 
    width : 100%; 
    height : 100%; 
    /* background-color : #F7F7EE;  */
    display : flex; 
    align-items: center; 
    flex-direction : column; 
    cursor : pointer; 
    border-radius : 0.5rem; 
    }
    
    #arrowLeftToggle{ 
    position : absolute; 
    visibility : hidden; 
    }
    
    .arrowLeftLine{ 
    width: 80%; 
    height : 14%; 
    margin-top : 14%; 
    background-color : white; 
    position : relative; 
    border-radius : 0.2rem; 
    }
    
    @keyframes arrowLeftAnimate1{
    0%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, 220%) rotate(-45deg) scale(0.7);  opacity: 1;}
    }
    
    @keyframes arrowLeftAnimate2{
    0%{ transform-origin: center; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: center; transform : translate(0, 0%) rotate(0deg) scale(1);  opacity: 1;}
    }
    
    @keyframes arrowLeftAnimate3{
    0%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, -220%) rotate(45deg) scale(0.7);  opacity: 1;}
    }
    
    @keyframes arrowLeftInitial1{
    0%{ transform-origin: left; transform : translate(0, 220%) rotate(-45deg) scale(0.7);  opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
    }
    
    @keyframes arrowLeftInitial2{
    0%{ transform-origin: center; transform : translate(0, 0%) rotate(0deg) scale(1);  opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: center; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
    }
    
    @keyframes arrowLeftInitial3{
    0%{ transform-origin: left; transform : translate(0, -220%) rotate(45deg) scale(0.7);  opacity: 1;}
    25%{ }
    50%{ }
    75%{ }
    100%{ transform-origin: left; transform : translate(0, 0) rotate(0deg) scale(1);  opacity: 1;}
    }
    
    #arrowLeftToggle:checked ~ #arrowLeftLabel .arrowLeftLine:nth-child(1){
    animation : arrowLeftAnimate1 .5s forwards;
    }
    
    #arrowLeftToggle:checked ~ #arrowLeftLabel .arrowLeftLine:nth-child(2){
    animation : arrowLeftAnimate2 .5s forwards;
    }
    
    #arrowLeftToggle:checked ~ #arrowLeftLabel .arrowLeftLine:nth-child(3){
    animation : arrowLeftAnimate3 .5s forwards;
    }
    
    .arrowLeftLine:nth-child(1){
    animation: arrowLeftInitial1 .5s forwards;
    }
    
    .arrowLeftLine:nth-child(2){
    animation: arrowLeftInitial2 .5s forwards;
    }
    
    .arrowLeftLine:nth-child(3){
    animation: arrowLeftInitial3 .5s forwards;
    }



.color{
    background-color: burlywood !important;
}

.color2{
    background-color: darkcyan !important;
}





/****************************************************************** PROJECT 1 ***********************************************************************************/

#project{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto;
    grid-template-areas:
    "landingVideo"
    "projectDescription"
    ;
}



.landingVideoContainer{
    grid-area: landingVideo;
    position: relative;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-rows: 8rem auto 8rem;
    grid-template-areas:
    "navBarFixedSpace navBarFixedSpace navBarFixedSpace"
    ". projectInfo ."
    "goDown goDown goDown"
    ;
}

video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
  z-index: -1;
  filter: grayscale(100%) brightness(20%) contrast(110%);
}





/************************************************************************ NAVBAR ******************************************************************/








.projectFixedNavBar{
    width: 100%;
    height: 8rem;
    position: fixed;
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    padding: 3rem;
    font-size: 1.5rem;
    color: white;
    /* background-color: black; */
    grid-gap: 2px;
    /* background-color: black; */
}

.seeAllProjects:hover{
    cursor: pointer;
    color: #0760fe;
}

.projectFixedNavBar div{
    /* background-color: aqua; */
    width: 100%;
    display: flex;

}

.projectFixedNavBar div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.projectFixedNavBar div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projectFixedNavBar div:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#arrowLeftHamburgerContainer{
    display: none;
}

@media only screen and (max-width: 768px) {
    .projectFixedNavBar{
        grid-template-columns: auto auto auto;
    }
    .projectFixedNavBar div p{
        display: none;
    }
    /* .projectFixedNavBar div i{
        display: none;
    } */
    .projectFixedNavBar div a{
        display: none;
    }

    #arrowLeftHamburgerContainer{
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .landingVideoContainer{
        grid-template-columns: 15rem 1fr 15rem;
        grid-template-rows: 8rem auto 8rem;
        grid-template-areas:
        "navBarFixedSpace navBarFixedSpace navBarFixedSpace"
        "projectInfo projectInfo projectInfo "
        "goDown goDown goDown"
        ;
    }
}





.fixedNavBarBtn:hover{
    color: #0760fe !important;
    cursor: pointer;
}



.navBarFixedSpace{
    /* background-color: #D9E7FF; */
    width: 100%;
    height: 100%;
    grid-area: navBarFixedSpace;
}

/****************************************************************************** SEE ALL MENU *********************************************************/
.slideIn{
    animation: slideIn .8s linear forwards !important;
}

#allProjectsMenu{
    animation: slideOut .8s linear forwards;
    z-index: 1;
    display:none;
    margin-top: 8rem;
    position: fixed;
    width: 100%;
    min-height: calc(100vh - 8rem);
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: black;
}

@keyframes slideIn{
    from{transform: translateX(100vw); opacity: 0;}
    to{transform: translateX(0); opacity: 1;}
}

@keyframes slideOut{
    from{transform: translateX(0); opacity: 1;}
    to{transform: translateX(100vw); opacity: 0;}
}

#menuTitle{
    color: white;
    font-size: 3rem;
}

#thumbnailContainer{
    /* background-color: darkcyan; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projectThumbnailContainer{
    width: 25rem;
    /* background-color: cyan; */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.thumbnailImg{
   object-fit: cover; 
width: 100%;
height: auto;
}

.projectThumbnailContainer a{
    font-size: 3rem;
    
}




/****************************************************************************** PROJECT INFO *********************************************************/




.projectInfo{
    grid-area: projectInfo ;
    /* grid-row: 2/3;
    grid-column: 2/3; */
    /* background-color: violet; */
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.projectDescription{
    font-size: 1.2rem;
}

.projectTitle{
    font-size: 4.5rem;
}


/*try link et more info ensemble*/
.goDown{
    /* background-color: tomato; */
    grid-area: goDown;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

.boucyArrow{
    animation: arrowBouncing .7s ease-in-out infinite;
}

@keyframes arrowBouncing{
    from{transform: translateY(0);}
    to{transform: translateY(1rem);}
}



/*********************************************************************************** PROJECT DESCRIPTION *******************************************************/

#projectDescription{
    grid-area: projectDescription;
     display: grid;
     grid-template-columns: 0.4fr 1fr 0.4fr;
     grid-template-rows: repeat(4, auto);
     grid-template-areas:
     ". languages ."
    ". aboutProject ."
    ". approach ."
    ". context ."
     ;

}

.colorFiller1{
    background-color: #EEEEEE;
}
.colorFiller2{
    background-color: #EEEEEE;
}
.colorFiller3{
    background-color: #D9E7FF;
}
.colorFiller4{
    background-color: #D9E7FF;
}
.colorFiller5{
    background-color: #EEEEEE;
}
.colorFiller6{
    background-color: #EEEEEE;
}
.colorFiller7{
    background-color: #D9E7FF;
}
.colorFiller8{
    background-color: #D9E7FF;
}







.usedLanguagesSection{
    display: grid;
    grid-template-areas:
    "usedLanguagesTitle usedLanguagesTitle usedLanguagesTitle"
    "language1 language2 language3"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-area: languages;
    background-color: #EEEEEE;
    /* text-align: center; */
    font-size: 1.2rem;
    grid-column-gap: 1.2rem;
    grid-row-gap: 2rem;
    padding: 1.2rem;
}




.languagesTitle{
    grid-area: usedLanguagesTitle;
    color: black;
    font-size: 1.5rem;
    margin: auto;
}

.langIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.languagesNames{
    color: #383838;
}

.languagesIcons{
    color: #0760fe;
    font-size: 5rem;
}

.languagesNames div{
    width: 15rem;
}


/**************************************************************************** ABOUT PROJECT ******************************************************************/




.aboutProjectSection{
    background-color: #D9E7FF;
    display: grid;
    grid-area: aboutProject;
    font-size: 1.2rem;
    grid-template-areas:
    "mobileImage aboutDescription"
    "mobileImage aboutDescription"
    ;
    /* grid-gap: 1rem; */
    grid-template-columns: 0.5fr minmax(12rem, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 1.2rem;
    padding: 1.2rem;
}





.mobileImage{
    align-self: center;
    grid-area: mobileImage;
    width: 100%;
    height: auto;
}

.aboutDescription{
    grid-area: aboutDescription;
}

.aboutDescription h1{
    margin-bottom: 1.2rem;
    color: black;
}

 .aboutDescription p{
    color: #383838;
}

/**************************************************************************** APPROACH ******************************************************************/



.approachSection{
    background-color: #EEEEEE;
    display: grid;
    grid-area: approach;
    font-size: 1.2rem;
    grid-template-areas:
    "approachDescription pcImage"
    "approachDescription pcImage"
    ;
    grid-template-columns: minmax(12rem, 1fr) 0.5fr ;
    grid-template-rows: auto auto;
    grid-gap: 1.2rem;
    padding: 1.2rem;
    
}

.pcImage{
    grid-area: pcImage;
    width: 100%;
    height: auto;
    margin: auto;
}

.approachDescription{
    grid-area: approachDescription;
}

.approachDescription h1{
    color: black;
    margin-bottom: 1.2rem;
}

.approachDescription p{
    color: #383838;
}





/******************************************************* context section ******************************************/

.contextSection{
    grid-area: context;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D9E7FF;
    text-align: center;
    padding: 1.2rem;
}

.contextSection p{
    font-size: 1.2rem;
}



.contextTitle{
    font-size: 1.5rem;
}


@media only screen and (max-width: 768px) {

    #projectDescription{
        grid-template-areas:
        "languages languages languages"
       "aboutProject aboutProject aboutProject"
       "approach approach approach"
       "context context context"
        ;

    }

    .aboutProjectSection{
        grid-template-areas:
        "mobileImage mobileImage"
        "aboutDescription aboutDescription"
        ;
    }

    .approachSection{
        grid-template-areas:
        "pcImage pcImage"
        "approachDescription approachDescription"
        ;
    }

    /* .colorFiller1{
        display: none;
    }
    .colorFiller2{
        display: none;
        }
    .colorFiller3{
        display: none;
        }
    .colorFiller4{
        display: none;
        }
    .colorFiller5{
        display: none;
        }
    .colorFiller6{
        display: none;
        }
    .colorFiller7{
        display: none;
        }
    .colorFiller8{
        display: none;
        } */

}






/* ***************************************************************************************************** MOBILE ************************************************************************** */






@media only screen and (max-width: 768px) {
    html{
        font-size: 12px;
    }

    /* #colorBackgroundOverlay{
        display: none;
    } */

    #main{
        position: relative;
        display: grid;
        grid-template-areas:
        "navbarContainer"
        "contentContainer"
        ;
        grid-template-rows: 8rem 1fr;
        max-height: 100vh;
        width: 100vw;
        max-height: 100vh;
        max-width: 100vw;
    }

    #contentContainer{
        grid-area: contentContainer;
        display: grid;
        grid-template-columns: 1fr 0.1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-height: calc(100vh - 8rem);
        grid-template-areas:
        " info info"
        " info info"
        " index index"
        ;
        /* background-color: black; */
        padding: 4rem;
    }

    .contentTitle, .projectTitle{
        font-size: 3rem;
    }


    #informationContainer{
        padding: 0;
        align-items: flex-start;
    }

    #btnContainer{
        display: none;
    }

    #indexContainer{
    grid-area: index;
    width : 100%;
    height: 100%;
    /* background-color: indigo; */
    justify-content: flex-end;


}

#lineList{
    width: 15rem;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: aqua; */
}

#lineList li{
    height: 1.2rem;
    /* background-color: grey; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.line{
    height: 0.4rem;
    width: 30%;
    background-color: white;
    display: block;
}

.lineState{
    font-size: 1.2rem;
    color: #0760fe;
    margin: 0 0.5rem;
}

#footerContainer{
    display: none;
}

}
/**/